<div class="row">
    <div class="col-md-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Add Ingredients</a></li>
                <li><a href="#">Edit Ingredients</a></li>
                <li><a href="#">Delete Ingredients</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
