<div class="row">
    <div class="col-md-5">
        <app-recipe-list (recpieWasSelected)="selectedRecipe = $event"></app-recipe-list>
    </div>
    <div class="col-md-7">
        <app-recipe-detail *ngIf="selectedRecipe; else infoText"></app-recipe-detail>
        <ng-template #infoText>
            <p>Please Select a recipe</p>
        </ng-template>
    </div>
</div>
